* {
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

.container {
    position: relative;
    margin: 100px auto;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 10px;
    width: 500px;
    height: 700px;
    background-color: #fafafa;
    overflow: hidden; /* overflow : hidden을 하면 sidebar를 숨길 수 있다.*/
}

.btn {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: white;
    font-weight: 600;
    cursor: pointer;
}

.btn:active {
    background-color: #eee;
}

.main-container {
    padding: 20px;
    width: 100%;
    height: 100%;
}

.invisible {
    display: none !important;
}

.text-input {
    outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    padding: 5px 20px;
}

.text-input:focus {
    outline: 2px solid #ffbb00;
}

.w-f {
    width: 100%;
    
}
